.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart1 div {
  font: 10px sans-serif;
  background-color: steelblue;
  vertical-align:bottom;
  display: inline-block;
  width:20px;
  padding: 3px;
  margin: 1px;
  color: white;
}
